/* Elements principaux de la page*/

body
{
	background-color: white;
	background-image: url('img/drapeautr.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: black;
	margin-left: 30px;
}

/*Couleur des liens*/

A:link /*pour les liens internet non vus*/
{
   color: black;
}

A:visited /*pour les liens déjà visités*/
{
   color: black;
}

#bloc_page
{
	width: auto;
	font-family: Arial, sans-serif;
	margin: auto;
}

#blog_page h4
{
	font-size: 1.5em;
}

#trucSavoir article
{
	width: 1450px;
}

#liste article h4
{
	text-decoration: underline;
	color: #D90917;
	font-size: 1.5em;
}

#liste article h5
{
	font-size: 1.2em;
}

#liste article p
{
	font-size: 1.2em;
}

#photos article
{
    width: 1450px;
}

#photos h4
{
	font-size: 1.5em;
}

#photos h5
{
	font-size: 1.2em;
}

#liens h4
{
	font-size: 1.5em;
}

section h1, footer h1, nav a
{
	font-weight: serif;
	text-transform: uppercase;
}

/*header*/

header
{
	/*background: url('img/separateur.png') repeat-x bottom;*/
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'Lobster Two', cursive, Arial, serif;
    font-size: 2.5em;
    font-weight: normal;
	margin-left: 650px;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: 'Lobster Two', Dayrom, serif;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: normal;
	margin-left: 670px;
}

header h3
{
    margin-top: 0px;
    font-weight: normal;
	margin-left: 570px;
}

/* Navigation */

nav
{
    display: inline-block;
    width: auto;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
	margin-left: 20px;
}

nav a
{
    font-size: 1.5em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */

div
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

div article
{
    display: block;
    vertical-align: top;
    text-align: justify;
}

aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 1350px;
    margin-right: 25px;
	margin-left: 20px;
}

article p
{
    font-size: 20px;
}

aside
{
    position: relative;
    width: 235px;
	background-color: black; 
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#epita
{
    text-align: center;
}

#epita img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}



